@media (max-width: 767px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }

    #about>.card {
        width: 95%;
    }

    .app-box {
        width: 100vw;
        height: 100vh;
        margin: 0;
    }

    .app-notes-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .app-notes-container>.card {
        width: 90%;
    }

    .app-top {
        padding: 0;
    }

    .app-top #searchBar {
        width: 20px;
    }

    body {
        overflow-x: hidden !important;
    }


}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .app-notes-container {
        grid-template-columns: repeat(2, 1fr);
    }
        .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}