* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*Styling the home page*/
body {
    overflow-x: hidden;
}

.navbar_logo:hover{
    transform: rotate(30deg);
    transition: all 0.3s ease-in-out;
}

.hero {
    height: 50vh;
    width: 100vw;
    background: linear-gradient(to right, rgb(36, 212, 212), rgba(207, 2, 207, 0.989));
    color: antiquewhite;
}

.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
}

#about>.card {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: 15em;
}

#about>.card:hover {
    transform: scale(1.05);
}

/*styling the login and sign up page*/
.outer-body {
    background: linear-gradient(to right, rgb(1, 209, 209), rgba(207, 2, 207, 0.989));
    height: 100vh;
    width: 100vw;
}

.box {
    min-width: 320px;
    min-height: 400px;
    height: auto;
    padding: 20px;
    border-radius: 5px;
    border: solid black 1px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.box form{
    z-index: 5;
}

.form label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-size: 15px;
}

.form h1 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.form input {
    padding: 6px 15px;
    border: none;
    border-bottom: solid rgb(145, 145, 145) 2px;
    appearance: none;
    outline: none;
    transition: all 0.2s ease-in-out;
}

.form label a {
    text-decoration: none;
    color: rgb(3, 45, 87);
}

.form input:focus {
    border-bottom: solid rgb(4, 65, 151) 2px;
}

.form .btn {
    outline: none;
    appearance: none;
    width: 100%;
    height: 40px;
    background: linear-gradient(to right, rgb(0, 255, 255), rgba(238, 130, 238, 0.989));
    color: white;
    border-radius: 25px;
    margin: 10px 0;
}

.form .form-end {
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}


/*Css for the footer*/
.footer {
    height: 55px;
    width: 100vw;
    color: white;
    padding: 20px 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


/*styling the scroll bar*/
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(248, 245, 242);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(200, 195, 190);
    border-radius: 10px;
    border: 2px solid rgb(248, 245, 242);
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgb(200, 195, 190) rgb(248, 245, 242);
}

.app-bottom {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(248, 245, 242);
    border-radius: 0 0 10px 0;
}

.add-note-btn {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.add-note-btn img {
    height: 30px;
    width: 30px;
}