/*styling the app UI*/
body {
    overflow: hidden;
}

.app-box {
    height: 95vh;
    width: 95vw;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
}

.app-left {
    height: 100%;
    width: 80px;
    background-color: rgb(234, 88, 253);
    border-radius: 10px 0 0 10px;
    padding: 20px;
    z-index: 15;
}

.offcanvas-body ul li {
    list-style: none;
    width: 100%;
    font-size: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

.app-right {
    height: 100%;
    width: 100%;
    border-radius: 0 10px 10px 0;
    position: relative;
}

.app-top {
    width: 100%;
    height: 120px;
    position: absolute;
    top: 0;
    background-color: rgb(248, 245, 242);
    border-radius: 10px;
    padding: 0 30px;
    z-index: 10;
}

.app-top ul li{
    list-style: none;

}

.logo{
    width: 60px;
}

.app-top #searchBar {
    height: 40px;
    width: 250px !important;
    padding: 5px 20px;
    border-radius: 25px;
    outline: none;
    appearance: none;
    border: solid rgb(131, 115, 115) 1px;
}

.app-notes-container {
    width: 100%;
    height: 85%;
    background-color: rgb(255, 255, 255);
    padding-top: 140px;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    column-gap: 30px;
    place-items: center;
}

.app-notes-container>.card {
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    width: 16rem;
    margin: 20px;
    height: 220px;
}

.app-notes-container>.card:hover {
    transform: scale(1.05);
}

/*app bottom*/
.app-bottom {
    background-color: rgb(248, 245, 242);
    position: absolute;
    bottom: 0;
    border-radius: 0 0 10px 10px;


}
