* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: 60px;
    background-color: #1e85ff;
}

.wrapper {
    max-width: 1100px;
    margin: auto;
    margin-top: 80px;
    background-color: #ffffff;
    height: auto;
    padding: 10px;
    height: auto;
    min-height: 100dvh;
    border: solid black 2px;
    border-radius: 10px;
}

.suggested-posts {
    width: 100%;
    min-height: 720px;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 10px;
    margin-bottom: 40px;
    background-color: aliceblue;
}

.suggested-posts .header {
    border-bottom: solid black 2px;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header  a{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.header .user-profile-pic {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: solid black 1px;
    cursor: pointer;
}

.header b {
    font-size: 25px;
}

.posts-img {
    height: 490px;
    border: solid black 2px;
}

.caption {
    font-size: 25px;
}

.footer{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.footer button{
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.footer button img{
    height: 28px;
    width: 28px;
}


.suggested-users {
    min-height: 140px;
    width: 100%;
    padding: 10px;
    background-color: beige;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    border: solid black 1px;
    border-radius: 10px;
}

.suggested-users > a {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.suggested-users-pic{
    height: 120px;
    width: 120px;
    border: solid black 1px;
    border-radius: 50%;
    cursor: pointer;
}

