* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin-top: 75px;
    background-color: #1e85ff;
}

.wrapper{
    max-width: 1000px;
    margin: auto;
    margin-top: 85px;
    margin-bottom: 10px;
    background-color: #ffffff;
    height: auto;
    padding: 10px;
    min-height: 85vh;
    border: solid black 2px;
    border-radius: 10px;
}


.users {
    border: solid black 1px;
    width: 100%;
    padding: 12px;
    font-size: 19px;
    cursor: pointer;
    margin-bottom: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.users img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    border: solid black 1px;
}

.search-posts{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 40px;
}

.search-posts .card .card-img{
    height: 300px;
    width: 300px;
    object-fit: cover;
    border: solid black 2px;
}

.search-posts .card:hover{
    transform: scale(1.03);
    transition: all 0.3s ease-in-out;
}
